<form [formGroup]="registerForm" (ngSubmit)="register()">

  <h2 class="text-center text-primary">Create New User</h2>

  <hr>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('username').errors && registerForm.get('username').touched}">
    <input type="text" class="form-control" placeholder="Username" formControlName="username">
    <span class="help-block" *ngIf="registerForm.get('username').hasError('required') && registerForm.get('username').touched">
      Username is required
    </span>
    <span class="help-block" *ngIf="registerForm.get('username').hasError('minlength') && registerForm.get('username').touched">
      Password must be at least 4 characters
    </span>
    <span class="help-block" *ngIf="registerForm.get('username').hasError('maxlength') && registerForm.get('username').touched">
      Password cannot exceed 16 characters
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('password').errors && registerForm.get('password').touched}">
    <input type="password" class="form-control" placeholder="Password" formControlName="password">
    <span class="help-block" *ngIf="registerForm.get('password').hasError('required') && registerForm.get('password').touched">
      Password is required
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').hasError('minlength') && registerForm.get('password').touched">
      Password must be at least 6 characters
    </span>
    <span class="help-block" *ngIf="registerForm.get('password').hasError('maxlength') && registerForm.get('password').touched">
      Password cannot exceed 32 characters
    </span>
  </div>

  <div class="form-group" [ngClass]="{'has-error': registerForm.get('confirmPassword').errors
    && registerForm.get('confirmPassword').touched || registerForm.get('confirmPassword').touched
    && registerForm.hasError('mismatch')}">
    <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
    <span class="help-block" *ngIf="registerForm.get('confirmPassword').hasError('required') && registerForm.get('confirmPassword').touched">
      Confirm password is required
    </span>
    <span class="help-block" *ngIf="registerForm.get('confirmPassword').touched
        && registerForm.hasError('mismatch')">
      Confirm password must match password
    </span>
  </div>

  <div class="form-group text-center">
    <button class="btn btn-success" [disabled]="!registerForm.valid" type="submit">Register</button>
  </div>

</form>
